<app-navbar *ngIf="exibindoNavbar()"></app-navbar>

<br/><br/>

<router-outlet></router-outlet>

<br/><br/><br/><br/>

<app-rodape></app-rodape>

<ng2-toasty></ng2-toasty>

<p-confirmDialog header="{{'TITLE_CONFIRMACAO' | i18n}}" icon="fa fa-question-circle" #confirmacao>
  <p-footer>
    <button type="button" pButton icon="fa-check" label="Sim" (click)="confirmacao.accept()"></button>
    <button type="button" pButton icon="fa-times" label="Não" (click)="confirmacao.reject()"></button>
  </p-footer>
</p-confirmDialog>
